.main-section{
  padding: 0% 3rem; 
}

.content-container {
    margin: 0 auto;
    max-width: var(--max-width-content);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}
.posts-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.post-card{
  background-color: var(--color-surface);
  border-radius: var(--border-radius);

  overflow: hidden;
}

.post-content{
    padding: 1.5rem;
}

.post-card img {
width: 100%;
display: block;
}